/JavaApplication/nbproject/private/
/WebApplication/nbproject/private/
/WebApplication/build/
/HomeDisplay/nbproject/private/
/HomeDisplay/build/
/Java/nbproject/private/
/Java/build/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming/dist/
/RPi-LCD-JavaFXProgramming/build/
/SecurityDisplay_main/nbproject/private/
/SecurityDisplay_main/build/
/SecurityDisplay/nbproject/private/
/SecurityDisplay/build/
/SecurityDisplay/dist/
/WebApplication/dist/
/RPi-LCD-JavaFXProgramming1/nbproject/private/
/RPi-LCD-JavaFXProgramming1/build/
/RPi-LCD-JavaFXProgramming1/dist/
/Hardware/nbproject/private/
/Hardware/build/
/Hardware/dist/
/WebApplication1/target/
/Network/nbproject/private/
/Network/build/
/Network/dist/
/SensingCar/nbproject/private/
/SensingCar/build/
/SensingCar/dist/