AnchorPane {
    -fx-alignment: CENTER;
}

Label{
   -fx-padding: 10;
   
}
#lbl1 {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}
.class1 {
    -fx-background-color: #0000ff;
    -fx-text-fill: #00ffff;
}